.title {
  font-size: var(--font-size-xxlarge);
  font-weight: var(--font-weight-xbold);
  color: var(--neutral-800);
  margin-bottom: var(--margin-small);
  text-align: center;
}

.titleDetails {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-medium);
  color: var(--neutral-700);
  margin-bottom: var(--margin-large);
  text-align: center;
}

.forgotPassword {
  color: var(--primary-purple);
  font-family: var(--font-secondary);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
  text-align: left;
  display: block;
  margin-bottom: var(--margin-small);
  text-decoration: underline;
}

.loginButton {
  width: 100%;
  padding: 16px;
  background-color: var(--primary-purple);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-semibold);
  color: var(--neutral-0);
  border: none;
  border-radius: 48px;
  cursor: pointer;
  transition: var(--transition);
}

.loginButton:hover {
  background-color: var(--primary-purple-hover);
}

.loginButton:disabled {
  background-color: var(--neutral-200);
  color: var(--neutral-700);
  cursor: not-allowed;
  opacity: 0.7;
}

.registerLink {
  font-family: var(--font-secondary);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
  color: var(--neutral-700);
  text-align: center;
  margin-top: var(--margin-large);
}

.registerLink a {
  color: var(--primary-purple);
  text-decoration: underline;
}

/* Responsividade para smartphones (largura máxima: 480px) */
@media (max-width: 480px) {
  .title {
    font-size: var(--font-size-large);
  }

  .titleDetails {
    font-size: var(--font-size-medium);
  }

  .loginButton {
    padding: 12px;
    font-size: var(--font-size-medium);
    border-radius: 24px;
  }
}
