.content {
    padding: 8px 12px;
    background-color: var(--neutral-200);
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.wrapperHome{
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 1fr;
}