.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: var(--neutral-100);
    margin: 6% auto;
    padding: 24px 16px;
    border-radius: 16px;
    width: 550px;
    max-width: 90%;
    max-height: 80vh;
    position: relative;
    overflow: hidden;
  }
  
  .post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .user-avatar {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .user-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 12px;
  }
  
  .avatar-content {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  
  .feed-btn {
    background-color: transparent;
    color: var(--primary-purple);
    border: 1px solid var(--primary-purple);
    padding: 6px 12px;
    border-radius: 24px;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-semibold);
    cursor: pointer;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 32px;
    color: var(--neutral-800);
    cursor: pointer;
    padding: 12px;
    border-radius: 50%;
  }
  
  .post-content {
    overflow-y: auto;
    max-height: calc(60vh - 70px);
  }
  
  .post-body {
    margin-top: var(--margin-small);
  }
  
  .create-post-title {
    width: 100%;
    padding: 12px 0;
    font-size: var(--font-size-xlarge);
    background-color: transparent;
    margin-bottom: 10px;
    border: none;
    border-radius: 8px;
    outline: none;
  }
  
  .create-post-text {
    width: 100%;
    height: 100px;
    max-height: 300px;
    padding: 12px 0;
    font-size: var(--font-size-large-medium);
    background-color: transparent;
    border: none;
    border-radius: 8px;
    outline: none;
    resize: none;
    overflow-y: auto;
  }
  
  .image-preview-container {
    width: 100%;
    margin-top: var(--margin-small);
    text-align: center;
    display: block;
    border: 1px solid var(--neutral-400);
    border-radius: 12px;
    padding: 8px;
    display: none;
    position: relative;
  }
  
  .post-media-container video {
    width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
    margin-top: 8px;
  }
  
  .image-preview {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
  }
  
  .video-preview {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    display: none;
    margin-top: 8px;
  }