.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.box {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  background-color: var(--neutral-0);
  border-radius: 8px;
}

.logo {
  margin-bottom: var(--margin-small);
  text-align: left;
}

.logo img {
  width: 42px;
  height: 42px;
}

/* Back Button */

.backButton {
  color: var(--primary-purple);
  text-decoration: none;
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  display: flex;
  align-items: center;
  margin-bottom: var(--margin-large);
}

.backButton div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: var(--margin-xsmall);
  background-color: var(--neutral-200);
  padding: 10px;
  border: none;
  border-radius: 12px;
}

.title {
  font-size: var(--font-size-xxxlarge);
  font-weight: var(--font-weight-xbold);
  color: var(--neutral-800);
  margin-bottom: var(--margin-small);
  text-align: center;
}

.titleDetails {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-medium);
  color: var(--neutral-700);
  margin-bottom: var(--margin-large);
  text-align: center;
}

.otpContainer {
  display: flex;
  justify-content: center;
  margin-bottom: var(--margin-large);
  gap: 24px;
}

.otpInput {
  width: 15%;
  padding: 32px 16px;
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-regular);
  text-align: center;
  background-color: #dfe1e5;
  border: 2px solid transparent;
  border-radius: 12px;
  outline: none;
}

.otpInput:focus {
  border-color: var(--primary-purple);
}

.submitButton {
  width: 100%;
  padding: 16px;
  background-color: var(--primary-purple);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-semibold);
  color: var(--neutral-0);
  border: none;
  border-radius: 48px;
  cursor: pointer;
  transition: var(--transition);
}

.submitButton:hover {
  background-color: var(--primary-purple-hover);
}

.submitButton:disabled {
  background-color: var(--neutral-200);
  color: var(--neutral-700);
  cursor: not-allowed;
  opacity: 0.7;
}

.registerLink {
  font-family: var(--font-secondary);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
  color: var(--neutral-700);
  text-align: center;
  margin-top: var(--margin-large);
}

.registerLink a {
  color: var(--primary-purple);
  text-decoration: underline;
}

.sideBanner {
  width: 50%;
  background-color: var(--primary-purple);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--neutral-0);
  font-size: var(--font-size-xlarge);
}

/* Loader Animation */

.loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.loader {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left: 8px solid var(--primary-purple);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Coloca os elementos em coluna em telas menores */
  }

  .box {
    width: 100%;
    padding: 20px;
  }

  .otpInput {
    width: 20%; /* Aumenta a largura dos campos de OTP */
    padding: 16px 8px; /* Reduz o padding */
  }

  .title {
    font-size: var(--font-size-xxlarge); /* Reduz o tamanho da fonte */
  }

  .titleDetails {
    font-size: var(--font-size-medium); /* Reduz o tamanho da fonte */
  }

  .registerLink {
    font-size: var(--font-size-small); /* Reduz o tamanho da fonte */
  }

  .sideBanner {
    width: 100%; /* A largura do banner ocupa 100% em telas menores */
    font-size: var(--font-size-large); /* Ajusta o tamanho da fonte */
  }
}

@media (max-width: 480px) {
  .otpInput {
    width: 25%; /* Aumenta ainda mais a largura dos campos de OTP */
  }

  .title {
    font-size: var(--font-size-large); /* Reduz o tamanho da fonte ainda mais */
  }

  .titleDetails {
    font-size: var(--font-size-small); /* Reduz o tamanho da fonte ainda mais */
  }

  .registerLink {
    font-size: var(
      --font-size-xsmall
    ); /* Reduz o tamanho da fonte ainda mais */
  }
}
