body {
    background-color: var(--neutral-0);
    font-family: "Inter", sans-serif;
    overflow: hidden;
  }
  
  .container {
    display: flex;
    min-height: 100vh;
    gap: 14px;
  }
  
  .wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  