.postActions {
  display: flex;
  flex-direction: row;
  gap: 24px;
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-medium);
  color: var(--neutral-800);
  margin-top: var(--margin-small);
}

.postActionBtn {
  display: flex;
  color: var(--neutral-800);
  align-items: center;
  background-color: var(--neutral-200);
  border: 2px solid transparent;
  border-radius: 24px;
  transition: var(--transition);
  cursor: pointer;
}

.postActionBtn:hover {
  background-color: var(--primary-purple-light);
}

.postActionBtn svg {
  height: 18px;
  width: 18px;
}

.postActionBtn span {
  display: flex;
  flex-direction: row;
  padding: 8px 12px;
  gap: 12px;
}


.likeButton {
  transition: background-color 0.3s ease, border 0.3s ease;
}

.likeButton svg {
  transition: transform 0.3s ease, filter 0.3s ease;
}

.likeButton span {
  margin-left: 8px;
  transition: color 0.3s ease;
}

.likeButton.active {
  background-color: var(--primary-purple);
  border: 2px solid var(--primary-purple-hover);
  animation: likePop 0.3s ease;
}

.likeButton.active svg {
  transform: scale(1.3);
  filter: brightness(0) saturate(100%) invert(100%);
}

.likeButton.active span {
  color: var(--neutral-0);
}

.likeButton svg {
  transform: scale(1);
}

@keyframes likePop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
