.job-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.job-item {
  background-color: var(--neutral-0);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease;
}

.job-item:hover {
  background-color: var(--neutral-100);
}

.job-title {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-semibold);
}

.job-company,
.job-location,
.job-description {
  margin-top: 8px;
  color: var(--neutral-600);
}
