
.sidebar-right {
    width: 400px;
    background-color: var(--neutral-100);
    padding: 22px;
  }
  
  .campus-metrics {
    padding: 14px;
    border: 1px solid var(--neutral-400);
    border-radius: 24px;
    text-align: left;
  }
  
  .campus-metrics h1 {
    font-size: var(--font-size-xlarge);
  }
  
  .campus-metrics,
  .students-highlight {
    margin-bottom: var(--margin-small);
  }
  
  .campus-metrics h3 {
    font-size: var(--font-size-large-medium);
    color: var(--neutral-800);
    margin-bottom: var(--margin-small);
  }
  
  .metrics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 12px 16px;
    border: none;
    border-radius: 18px;
    background-color: var(--neutral-200);
    gap: 24px;
  }
  
 