.search-bar {
  width: 100%;
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  padding: 12px;
  font-size: var(--font-size-large);
  border: 1px solid var(--neutral-300);
  border-radius: 8px;
}
