.comment-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s;
  }
  
  .comment-modal.hidden {
    display: none;
  }
  
  .comment-modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    max-width: 90%;
  }
  
  .close-comment-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close-comment-modal:hover,
  .close-comment-modal:focus {
    color: var(--neutral-800);
  }
  
  .comments-header h3 {
    margin: 0;
    font-size: var(--font-size-large-medium);
  }
  
  .comment-tabs {
    display: flex;
    gap: 12px;
    padding: 16px 0;
    border-bottom: 1px solid var(--neutral-300);
  }
  
  .comment-filter {
    padding: 10px 12px;
    border-radius: 24px;
    cursor: pointer;
    transition: var(--transition);
  }
  
  .comment-filter.active {
    background-color: var(--primary-purple);
    color: var(--neutral-0);
  }
  
  .comments-list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    max-height: 450px;
    overflow-y: auto;
  }
  